.con1{
    height: 2em;
    background-color: rgb(15, 84, 87);
    align-items: center;

}
.nav1{
    display: flex;
    flex-direction: row;
}
.nav{
    color: whitesmoke;
}
.nav1 a
{
    margin-right: 25px;
    margin-top: 5px;
}
/* ===------con1 close====------ */
.con2{
    height: 100vh;
    width: 100%;
    background-image: url('music.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-top: 20%;
}
.Tital,
.sub-tital,
.para{
    color: rgba(12, 12, 12, 0.795);
    text-align: center;
    font-weight: 600;

    font-family: 'Lucida Sans', 
    'Lucida Sans Regular', 'Lucida
     Grande', 'Lucida Sans Unicode', 
    Geneva, Verdana, sans-serif;
    
    
}
.title{
    padding: 20px;
    font-size: 3em;
    font-weight: 900;
}
/* =====con2 end=======[ */
/* --------con3------ */
.con3{
    height: 80vh;
    width: 100%;
    background-color:rgb(14, 14, 68) ;
    padding-top: 3%;
}
.welcome ,
.add ,
.info{
    text-align: center;
    color:ghostwhite;

}
.welcome{
    color: gold;
    padding-bottom: 5%;
    font-size: 3em;
}
/* -----con3 end----==== */
/* ======con4--======= */
.con4{
    height: 100vh;
    width: 100%;
    text-align: center;
    background-color:rgb(14, 14, 68) ;
    padding-top: 0%;
    /* display: flex; */

   
}
.btn{
    /* text-align: center; */
    color:black;
    background-color:lawngreen;
}
.add-para{
    color: blanchedalmond;
}
.mypic{
    position: relative;
}
.abc{
    position: absolute;
    top: 20px;
    left: 50%;
    /* height: 35em; */
    width: 40em;
    border-radius: 20px 20px 0 0;
}